name: CI

permissions:
  contents: read

on: [push]

jobs:
  php:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['8.0', '8.1', '8.2', '8.3']
    steps:
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: composer install --no-interaction --no-progress

    - name: Run phpstan
      run: php vendor/bin/phpstan
      continue-on-error: true

    - name: Run psalm
      run: php vendor/bin/psalm
      continue-on-error: true
